.titulo {
  text-align: center;
  font-family: palatino, serif;
  font-size: 30px;
}
.mute_button {
  display: none;
}
.authentication {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: palatino, serif;
  font-size: 15px;
}
.log_out {
  margin-left: auto;
  margin-right: auto;
  display: none;
}
.menu {
  height: auto;
  width: auto;
  text-align: center;
  display: none;
}
.tab {
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.quadro_honra {
  font-family: palatino, serif;
  font-size: 15px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /*background-color: green;
   border-radius: 5px;
   border-width: medium;
   border-color: green;
   border-style: dashed;*/
  display: none;
}
.encerrar {
  display: none;
}
.progresso {
  text-align: center;
  font-family: palatino, serif;
  font-size: 15px;
  display: none;
}
.esconder_honra {
  display: none;
}

.difHonra {
  display: none;
}

.difHonraMP {
  display: none;
}

.sair {
  display: none;
}

.warning_message {
  text-align: center;
  font-family: palatino, serif;
  color: red;
  font-size: 20px;
}

body {
  background-image: url("./imgs/background.jpeg");
}

th,
td {
  height: 20px;
  width: 20px;
  font-size: 1px;
}
td img {
  height: 20px;
  width: 20px;
  text-align: center;
}

td img {
  position: absolute;
  z-index: 0;
}
td canvas {
  position: absolute;
  z-index: 20;
}
